@media (max-width: 768px){
    body {
        background-image: url("../images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .conteudo {
        margin: 0px 20px 20px 20px;
        flex-direction: column;
        margin: 50px 0;
    }
    .informacoes {
        text-align: center;
        width: 100%;
    }
    .informacoes h1{
        font-size: 2.5rem;
    }
    .informacoes p{
        font-size: 1.7rem;
        line-height: 2.6rem;
    }
    .informacoes .btn{
        color: var(--cor-violet);
        margin-bottom: 0px;
    }
    .rede-social{
        font-size: 1rem;
        margin: -20px 0px 50px 0px;
        justify-content: center;
    }
}
